.ColorBox {
    width: 20%; /* 5 boxes will go across the screen*/
    height: 25%; /*??? MEANING: It is 25% of the 
    className="Palette", but Palette height is not set*/
    margin: 0 auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-bottom: -3.5px; /*removes spacing between rows*/
}

.copy-button {
    width: 100px;
    height: 30px;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -15px;
    text-align: center;
    outline: none; /*no default outline*/
    background: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    line-height: 30px;
    color: white;
    text-transform: uppercase;
    border: none;
    opacity: 0; /*it is hidden and appears only when hovered over*/  
}

/* MEANING: when hovering over ColorBox, then STYLE the copy-button */
.ColorBox:hover .copy-button{
    opacity: 1;
    transition: 0.5s;
}

.box-content {
    position: absolute;
    width: 100%;
    left: 0px; /*will move it to the left side*/
    bottom: 0px; /*will move it to the bottom*/
    padding: 10px;
    color: black;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
}

.see-more {
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    border: none;
    /* moves to bottom-right side */
    right: 0px;
    bottom: 0px;
    color: white; 
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
}

